.btn-assassin {
    color: #ffffff;

    background: repeating-linear-gradient(
        45deg,
        #343a40,
        #343a40 10px,
        #dc3545 10px,
        #dc3545 20px
        );

    border-color: #343a40;
}

.btn-bystander {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-red {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-blue {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-green {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-yellow {
    color: #000000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.red-start {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.blue-start {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.green-start {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.yellow-start {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.host.btn-light:not(:disabled):not(.disabled).active, .host.btn-light:not(:disabled):not(.disabled):active, .host.show>.btn-light.dropdown-toggle {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.alert-start {
    padding: 12px 12px;
    height: 64px;
    line-height: 64px;
}

.flask-alert {
    position: fixed;
    top: 15px;
    right: 15px;
    width: auto;
    z-index: 999;
}

.remnant-button {
    text-align: center;
    margin: auto;
}

.remnant-table {
    table-layout: fixed;
    width: 100%;
    background-color: #e9ecef;
    text-align: center;
}

.remnant-data {
    width: 16.67%;
}