<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Clonenames - Python Codenames</title>

        {% include "scripts.html" %}

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include "header.html" %}
                    <div class="jumbotron card card-block">
                        <h2>
                            Let's Play!
                        </h2>
                        <hr>
                        {% if show_input %}
                            <h4>
                                Room Code
                            </h4>
                            <form method="POST">
                                <div class="form-group">
                                    <input name="room" type="text" class="form-control" style="text-transform:uppercase" placeholder="PYSPY" maxlength="5" required autocomplete="off">
                                    <small class="form-text text-muted">Must be 5 characters!</small>
                                </div>
                                <a class="btn-group-toggle" data-toggle="buttons">
                                    <label class="host btn btn-light">
                                        <input name="host" type="checkbox">Host</input>
                                    </label>
                                </a>
                                <button type="submit" class="btn btn-success">Get Started!</button>
                                </div>
                            </form>
                        {% else %}
                            {% if host %}
                            <h4>
                                <div id="turn-alert" class ="alert {{ start }}-start alert-start" role="alert">
                                    It is currently the <a id="turn-text" style="text-transform: capitalize;">{{ start }}</a> Team's turn! 
                                <button id="turn-button" class="btn btn-{{ start }} float-right" type="button">End Turn</button>
                                </div>
                            </h4>
                            {% endif %}
                            <table class="table">
                                {%- for row in words %}
                                    <tr>
                                        {% for column in row %}
                                            {% if host %}
                                                <td>
                                                    <button class="btn btn-block btn-{{ column.team }} {% if column.shown %}disabled{% endif %}" id="{{ column.number }}">
                                                        {{ column.word }}
                                                    </button>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <button class="btn btn-block{% if column.shown %} btn-{{ column.team }}{% endif %}" id="{{ column.number }}">
                                                        {{ column.word }}
                                                    </button>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {%- endfor %}
                            </table>
                            <hr>
                            <p>
                                <button class="btn btn-outline-dark remnant-button" data-toggle="collapse" type="button" data-target="#remaining" aria-expanded="false" aria-controls="remaining">
                                    Click here to show remaining word count
                                </button>
                            </p>
                            <div class="collapse" id="remaining">
                                <div class="card card-body remnant-table">
                                    <table class="table table-bordered table-sm" >
                                        <tr>
                                            {% for team in remnants.keys() %}
                                                <th style="text-transform: capitalize;">{{ team }}</th>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for team in remnants.keys() %}
                                                <td class="remnant-data" id="btn-{{ team }}">{{ remnants[team] }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% include "socketio.html" %}
    </body>
</html>
