<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clonenames - Python Codenames</title>
    {% include "scripts.html" %}

  </head>
  <body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include "header.html" %}
            <div class="jumbotron card card-block">
                <h2>
                    Welcome to Clonenames!
                </h2>
                <hr>
                <p>
                    <a class="btn btn-primary btn-large" href="/start">Start a New Game!</a>
                    <a class="btn btn-primary btn-large" href="/game">Join a Game!</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>