<script type="text/javascript" charset="utf-8">
    {% if not show_input %}
        var socket = io('http://' + document.domain + ':' + location.port);

        socket.emit('join', {
            'room': '{{ room }}'});
    {% endif %}

    {% if host %}
        $('button').click(function(event) {
            if (this.id == 'turn-button') {
                socket.emit('ended_turn', {
                    'room': '{{ room }}'
                });
            }
            else {
                $('#' + this.id).addClass('disabled');

                socket.emit('clicked', {
                    'host': true,
                    'room': '{{ room }}',
                    'id': event.target.id});

                socket.on('revealed', function(message) {
                    $('#' + message['class']).text(message['remnant']);
                    $(message['id']).addClass('disabled');
                });
            }
        });

        socket.on('change_turn', function(message) {
            $('#turn-alert').removeClass();
            $('#turn-button').removeClass();

            $('#turn-text').text(message['text']);
            $('#turn-alert').addClass(message['alert']);
            $('#turn-button').addClass(message['button']);
        });

    {% else %}
        socket.on('revealed', function(message) {
            $(message['id']).addClass(message['class']);
            $('#' + message['class']).text(message['remnant']);
        });

    {% endif %}
</script>

